/*--------------------TOP NAME CONTAINER--------------------*/

.top-name-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.p-button .pi.pi-user { /*Profile Icon*/
  color: rgb(190, 189, 189);
  background-color: transparent;
  font-size: 15px;
  align-items: center;
}

.p-button.p-component.p-button-icon-only.button-profile {
  background: transparent;
  border: 2px solid #374151;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  min-width: 30px;
  max-width: 30px;
}

.p-button .pi.pi-cog {
  color: rgb(190, 189, 189);
  background-color: transparent;
  font-size: 15px;
  align-items: center;
}

.p-button.p-component.p-button-icon-only.button-cog {
  background: transparent;
  border: 2px solid #374151;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  min-width: 30px;
  max-width: 30px;
}

.p-button .pi.pi-trash {
  color: rgb(190, 189, 189);
  background-color: transparent;
  font-size: 25px;
  align-items: center;
}

.p-button.p-component.p-button-icon-only.button-trash {
  background: transparent;
  border: 2px solid #374151;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  min-width: 30px;
  max-width: 30px;
}

/*--------------------Search Input--------------------*/

.search-input {
  width: 100%;
  margin-bottom: 1rem;
}

/*--------------------TREE Arrange--------------------*/

.tree-toolbar {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 0;
  align-items: center;
}

.tree-toolbar .p-button {
  background: #18181B !important;
  color: #FFFFFF !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 12px 12px 0 0;
  font-weight: bold;
  padding: 0px 5px !important;
  width: auto !important;
  font-size: 0.875rem !important;
}

/*--------------------TREE NODE STYLES--------------------*/

.p-tree-node-content.p-tree-node-selectable {
  display: flex !important;
  width: auto !important;
  min-width: unset !important;
  max-width: unset !important;
}
.p-tree-node-content > span:last-child {
  margin-right: 30px !important;
}
.norowrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    width: fit-content;
    max-width: 100%;
    align-self: flex-start;
}
.parent-class {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.norowrap .element-buttons {
  gap: 10px;
  display: flex;
  align-items: center;
}

.red-400 .pi.pi-trash {
    color: #ef4444 !important;
}
.green-400 .pi.pi-folder-plus {
    color: #22c55e !important;
}

.yellow-400 .pi.pi-pencil {
    color: #eab308 !important;
}

.p-button {
    padding: 0px 0px !important;
    width: auto !important;
    font-size: 0.875rem !important;
    background: blue;
}
.p-button .pi.pi-trash,
.p-button .pi.pi-file-plus,
.p-button .pi.pi-folder-plus,
.p-button .pi.pi-pencil {
  font-size: 0.7rem !important;
}

.p-tree-node-content.p-tree-node-selectable {
  width: fit-content !important;
  max-width: 100%;
}
.p-tree-node-content.p-tree-node-selectable.p-highlight,
.p-tree-node-content.p-tree-node-selectable:hover {
  width: fit-content !important;
  max-width: 100%;
  background: #374151 !important;
}

/* -----------RATING STARS--------------- */

.p-rating .p-rating-option:nth-child(1)[data-p-active="true"] .p-rating-icon {
  color: #ef4444 !important;
}
.p-rating .p-rating-option:nth-child(2)[data-p-active="true"] .p-rating-icon {
  color: #fb923c !important;
}
.p-rating .p-rating-option:nth-child(3)[data-p-active="true"] .p-rating-icon {
  color: #fde047 !important;
}
.p-rating .p-rating-option:nth-child(4)[data-p-active="true"] .p-rating-icon {
  color: #4ade80 !important;
}
.p-rating .p-rating-option:nth-child(5)[data-p-active="true"] .p-rating-icon {
  color: #22c55e !important;
}

/* -----------RATING STARS SIZE--------------- */

.p-rating {
  --p-rating-icon-size: 10px;
}

/*----------BUTTONS EXPAND AND ADD------------------*/

.flex.flex-wrap.gap-2 > .p-button {
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  height: 1.5em;
  line-height: 1;
  gap: 0.2rem;
  background: #18181B !important;
  color: #FFFFFF !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 12px 12px 0 0;
  font-weight: bold;
  padding: 0px 5px !important;
  width: auto !important;
  font-size: 0.875rem !important;
}
.p-button .p-button-icon {
  vertical-align: middle;
  font-size: 0.7em;
}

.flex.flex-wrap.gap-2 > .p-button {
  margin-right: 8px;
}
.flex.flex-wrap.gap-2 > .p-button:last-child {
  margin-right: 0;
}

/*--------------Root Folder Styles--------------- */

.root-folder {
border-bottom: 1px solid #374151;
}
