/*--------------------SIDEBAR TRASH--------------------*/


.trash-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.item-label {
  font-weight: bold;
}
.item-actions button {
  margin-left: 8px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 4px;
}
.button-restore {
  color: #22c55e; /* green-500 */
}
.button-delete {
  color: #ef4444; /* red-500 */
}
.empty-trash-message {
  color: #6b7280; /* gray-500 */
  padding: 20px;
  text-align: center;
}


/*--------------------SIDEBAR COG--------------------*/

